@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #E8E7E7;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

.login {
  width: min(90%, 1260px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.form-login {
  width: min(50%, 650px);
  margin-top: 8rem;
  background-color: #ffffff;
  padding: 9rem;
  border-radius: 0.4rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-login input, .form-login button {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #E8E7E7;
  padding: 1.2rem 1.6rem;
  font-size: 1.4rem;
  color: #2c2e30;
  font-weight: 500;
  outline: none;
  border-radius: 0.3rem;
}

.form-login input:focus {
  border: 1px solid #2FC18C;
}

.form-login input::placeholder {
  opacity: 0.8;
}

.form-login button:disabled {
  opacity: 0.5;
} 

.form-login button:hover:disabled {
  transform: scale(1);
  background-color: #004FFF;
  transition: 0;
}

.form-login button { 
  background-color: #004FFF;
  color: white;
  cursor: pointer;
}

.form-login button:hover {
  transform: scale(1.04);
  background-color: #004FFF;
  transition: 0.4s ease-in-out;
}