@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background-color: #f0e8e8;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
}

.loading {
  color: black;
  text-align: center;
  width: 160px;
  background: white;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.login {
  width: min(90%, 1260px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.form-login {
  width: min(50%, 650px);
  margin-top: 8rem;
  background-color: #ffffff;
  padding: 9rem;
  border-radius: 0.4rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-login input,
.form-login button {
  font-family: 'Roboto', sans-serif;
  color: #2c2e30;
  font-weight: 500;
  font-size: 1.4rem;
  border: 1px solid #E8E7E7;
  padding: 1.2rem 1.6rem;
  border-radius: 0.3rem;
}

.form-login input:focus {
  border: 1px solid #2FC18C;
}

.form-login input::placeholder {
  opacity: 0.8;
}

.form-login button:disabled {
  opacity: 0.5;
}

.form-login button:hover:disabled {
  transform: scale(1);
  background-color: #003BE5;
  transition: 0;
}

.form-login button {
  background-color: #003BE5;
  color: white;
  cursor: pointer;
}

.form-login button:hover {
  transform: scale(1.04);
  background-color: #003BE5;
  transition: 0.4s ease-in-out;
}

.header-container {
  width: 100%;
  padding: 2rem 4rem;
  background-color: #2c2e30;
}

.logo-header img {
  width: 80px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1260px;
  margin: 0 auto;
}

.user {
  width: 160px;
  background: white;
  border-radius: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar li {
  font-size: 1.6rem;
  font-weight: 500;
}

.color-white {
  color: #fff;
  height: 3px;
}

.color-white:hover {
  color: #2FC18C;
  transition: 0.3s;
}

.color-white .menu_ativo {
  color: #2FC18C;
}

.color-white:hover::after {
  content: "";
  height: 3px;
  background-color: currentColor;
  display: block;
  animation: animeLink 0.2s ease forwards;
}

.color-white :hover {
  opacity: 0.9;
}

@keyframes animeLink {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

/* form search */

.form-search {
  max-width: 700px;
  margin: 6rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.form-search input {
  width: 100%;
  padding: 1.5rem;
  border: none;
  border: 1px solid rgb(212, 195, 195);
  border-radius: 0.3rem;
  font-family: 'Roboto', sans-serif;
  color: #2c2e30;
  font-size: 1.4rem;
  background: url('./assets/images/icon-search.svg') no-repeat;
  background-size: 26px;
  background-position: 525px;
}

.form-search input:focus {
  border: 1px solid #2FC18C;
}

.form-search button {
  width: 20%;
  background-color: #003BE5;
  font-size: 1.4rem;
  padding: 1.5rem;
  color: #ffffff;
  font-weight: 600;
  border-radius: 0.3rem;
  border: 1px solid rgb(212, 195, 195);
  border: none;
  cursor: pointer;
}

.form-search button:hover {
  background-color: #0744c7;
  transition: 0.3s;
  transform: scale(1.03);
}

.artist-container {
  max-width: 1160px;
  margin: 0 auto;
}

.result-album {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  margin-bottom: 2rem;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  overflow-y: hidden;
}

.card-album {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 380px;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  background-color: #ecdede;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.15);
  overflow: auto;
  text-align: center;
  margin-bottom: 3rem;
}

.card-album:hover {
  transform: scale(1.02);
  transition: 0.3s;
}

.card-album img {
  width: 150px;
}

.name-album {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
}

.name-artist {
  font-size: 1.2rem;
  font-weight: 500;
}

.not-found-album {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.view-album {
  width: 50%;
  text-align: center;
  background-color: #003BE5;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 0.3rem;
  margin: 1rem;
  padding: 1.2rem;
}

.view-album:hover {
  background-color: #0744c7;
  transition: 0.3s;
}

.search-album {
  margin-bottom: 4rem;
}

/* PROFILE */

.profile {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 2rem;
  margin-bottom: 2rem;
}

.profile-section-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9.5rem;
  margin-bottom: 1rem;
}

.button-profile:disabled {
  opacity: 0.5;
}

.button-profile:hover:disabled {
  opacity: 0.8;
  cursor: default;
  background-color: transparent;
  transform: scale(1);
  transition: 0;
  color: #003BE5;
}

.button-profile {
  width: 120px;
  background-color: none;
  color: #003BE5;
  border: 2px solid #003BE5;
  padding: 1.2rem;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 0.25rem;
  font-weight: 500;
}

.button-profile:hover {
  background-color: #0744c7;
  transform: scale(1.02);
  transition: 0.3s;
  color: #ffffff;
  cursor: pointer;
}

.profile p {
  padding: 1.5rem 1rem;
  width: 300px;
  font-size: 1.4rem;
  border-radius: 0.25rem;
  background-color: rgb(231, 214, 214);
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.profile-section input {
  width: 70%;
  padding: 1rem;
}

.profile span {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 500;
  color: #2c2e30;
}

.form-edit {
  margin-top: 5rem;
}

.form-edit label {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.form-edit input,
.form-edit textarea {
  width: 350px;
  padding: 1.2rem;
  border: none;
  border-bottom: 2px solid #0744c7;
}

/* ALBUM */

.profile-album {
  max-width: 1000px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  margin: 4rem auto;
  padding: 2rem;
}

.artist-name-album {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1.6rem;
  letter-spacing: 0.05rem;
  color: #2c2e30;
}

.album-name {
  font-size: 1.4rem;
  padding-top: 1rem;
  color: #1f312b;
}

.music-card {
  overflow: auto;
  overflow-x: hidden;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}

.music-card::-webkit-scrollbar {
  width: 20px;
  /* width of the entire scrollbar */
}

.music-card::-webkit-scrollbar-track {
  background: #2FC18C;
  /* color of the tracking area */
  border-radius: 0.2rem;
}


.music-card::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #2fc28c;
  /* creates padding around scroll thumb */
}